
@{
    ViewData["Title"] = "TransporterFeedback";
    Layout = "~/Views/Shared/_TransporterLayout.cshtml";
}

<style>
    .form-container {
        background-color: aliceblue;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
        border-radius: 8px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
</style>

<style>
    #feedback_form label.error {
        width: 100%;
        color: blue;       
        margin-left: 50px;
        margin-bottom: 5px;
    }

    #feedback_form input.error {
        border: 3px solid red;
    }
</style>

<div class="row " style="margin-top: 30px; margin-left:350px; margin-bottom:30px;">
    <div class="col-md-6 col-md-offset-3 form-container">
        <h2>Feedback</h2>
        <p>
            <b>Dear @TempData["perName"], Please provide your feedback below:</b>
        </p>

        @using (Html.BeginForm("TransporterFeedback", "Transporter", FormMethod.Post, new { id = "feedback_form" }))
        {
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>How do you rate your overall experience?</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="experience" id="radiobad" value="bad">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="experience" id="radioavg" value="average">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="experience" id="radiogood" value="good" checked="checked">
                            Good
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="comments">
                        Comments:
                    </label>
                    <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7" autofocus></textarea>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 form-group" style="margin-left:300px;">
                    <button type="button" id="btnSubmit" class="btn btn-lg btn-success">Submit</button>
                </div>
            </div>
        }

        <div id="success_message" style="width:100%; height:100%; display:none; ">
            <h3>Posted your feedback successfully!</h3>
        </div>
        <div id="error_message"
             style="width:100%; height:100%; display:none; ">
            <h3>Error</h3>
            Sorry there was an error sending your form.

        </div>
    </div>
</div>


@section feedbackUserValidation{
    <script type="text/javascript">
        $(document).ready(function(){
            $("#btnSubmit").click(function () {
                var rdchk;
                debugger;
                if ($('#radiobad').prop('checked')) {
                    rdchk = "bad";
                }
                else if ($('#radioavg').prop('checked')) {
                    rdchk = "avg";
                }
                else  {
                    rdchk = "good";
                }

                if ($("#feedback_form").valid()) {
                    $.ajax({
                        type: "post",
                        datatype: "json",
                        data: { comments: $('#comments').val(), rdchk},
                        url: '@Url.Action("TransporterFeedback", "Transporter")',

                        success: function (res) {
                            if (res.toString() == "Success") {
                                window.location.href = '@Url.Action("TransporterFeedbackPost", "Transporter")';
                            }
                            else {
                                alert(res.toString());
                            }
                        },
                        error: function (res) {
                            alert('Error while processing');
                        }
                    });
                }
            });

           $("#feedback_form").validate({
                rules: {
                    comments: {
                        required: true
                    }
                },
                messages: {
                    comments: {
                        required: 'Please enter your feedback'
                    },
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

        });
    </script>
}