
@{
    ViewData["Title"] = "TransporterFeedbackPost";
    Layout = "~/Views/Shared/_TransporterLayout.cshtml";
}


<h2 style="margin-top:230px;margin-left:350px;">Thanks for your feedback.</h2>

<p style="margin-left:640px;">Ewaste Team</p>



