
@{
    ViewData["Title"] = "Changepassword";
    Layout = "~/Views/Shared/_EwasteLayout.cshtml";
}

<style>    
    label.error.fail-alert {
border: 2px solid red;
border-radius: 4px;
line-height: 1;
padding: 10px;
background: #ffe6eb;
color:red;
width:250px;
}
</style>


<!--header-->
<div class="w3l-top-header">
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <a class="navbar-brand" href=@Url.Action("Home","Login")>
                    <span class="fa fa-thumbs-o-up"></span> Ewaste
                </a>
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item @@home-active">
                            <a class="nav-link" href=@Url.Action("Home","Login")>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @@login-active">
                            <a class="nav-link effect-3" href=@Url.Action("Login","Login")>Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link effect-3" href=@Url.Action("ChangePassword","Login")>ChangePassword</a>
                        </li>
                        <li class="nav-item @@about-active">
                            <a class="nav-link effect-3" href=@Url.Action("About","Login")>About</a>
                        </li>
                        <li class="nav-item @@services-active">
                            <a class="nav-link effect-3" href=@Url.Action("Services","Login")>Services</a>
                        </li>
                        <li class="nav-item @@contact-active">
                            <a class="nav-link effect-3" href=@Url.Action("Contact","Login")>Contact</a>
                        </li>
                    </ul>
                    <div class="phone">
                        <a href="tel:+65-123-56-78"><span class="fa fa-phone" aria-hidden="true"></span> +91-9313894476</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
<!--/header-->

<script src="~/js/notify.min.js"></script> @*downloaded from https://notifyjs.com/*@

<script type="text/javascript">
    $(function () {
        $("input[type=text]").first().focus();
    });
</script>

<div class="text-warning mt-5 ml-5" style="font-size:50px;">
    Login
</div>
<div class="bg-warning" style="height:3px;"></div>
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "cpVal" }))
{
    <div class="mt-3 mb-3 row">
        <label for="Pemail" class="ml-4 col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control ml-2" id="Pemail" name="Pemail" placeholder="Please Enter Email Address" autofocus>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Ppassword" class="ml-4 col-sm-2 col-form-label">Old Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control ml-2" id="Ppassword" placeholder="Please Enter Old Password" name="Ppassword">
        </div>        
    </div>
    <div class="mb-3 row">
        <label for="Pnpassword" class="ml-4 col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control ml-2" id="Pnpassword" placeholder="Please Enter New Password" name="Pnpassword">
        </div>        
    </div>
    <div class="mb-3 row">
        <label for="Pcpassword" class="ml-4 col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control ml-2" id="Pcpassword" placeholder="Please Enter Confirm  Password" name="Pcpassword">
        </div>        
    </div>
    <div class="mt-3 row">
        <div class="col-sm-6"></div>
        <div>
        <input type="button" id="submit" value="Change" style="margin-left:700px;" class="btn btn-success"  />
        </div>
    </div>    
    <div class="row">
            <label id="ErrMsg" style="color:dodgerblue; font-size:25px; margin-bottom:150px; margin-top:20px;"></label>
        </div>
}

@section cpValidation
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").click(function () {
                if ($("#cpVal").valid()) {
                    $('#ErrMsg').text('');
                    $.ajax({
                        datatype: 'json',
                        type: 'post',
                        data: { Pemail: $("#Pemail").val(), Ppassword: $("#Ppassword").val(), Pnpassword: $("#Pnpassword").val() },
                        url: '@Url.Action("CheckLoginJson", "Login")',

                        success: function (res) {
                            if (res.toString() == "Success") {                                
                                window.location.href = '@Url.Action("Login", "Login")';
                            }
                            else {
                                $.notify("Invalid UserName or Password...", "failure");
                                $(function () {
                                    $("input[type=text]").first().focus();
                                    $("input[type=text]").first().select();
                                });
                            }
                        },
                        error: function (res) {
                            $('#ErrMsg').text(res.toString());
                        }
                    });
                }
            });

            $("#cpVal").validate({                
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {                        
                        validator.errorList[0].element.focus();
                    }                    
                },                
                errorClass: "error fail-alert",
                rules: {
                    Pemail:{
                        required:true
                    },
                    Ppassword:{
                        required:true
                    },
                    Pnpassword: {
                        required: true,
                    },
                    Pcpassword: {
                        required: true,
                        equalTo: "#Pnpassword"
                    }
                },
                messages: {
                    Pemail: {
                        required: 'Please Enter Email-Id',
                        focus() { }
                    },
                    Ppassword:{
                        required: 'Please Enter Password',
                        focus() { }
                    },
                    Pnpassword: {
                        required: 'Please Enter New Password',
                        focus() { }
                    },
                    Pcpassword: {
                        required: 'Please Enter Confirm Password',
                        equalTo: "Password and Confirm Password do not match",
                        focus() { }
                    }
                },
                errorPlacement:function(error,element){
                    error.insertAfter(element.parent());
                }
            })

        });

    </script>

}