

@{
    ViewData["Title"] = "UserThanksPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="alert alert-warning" role="alert">
  Thanks Dear User, Out Delivery partner will contact you within 2 working day!!!
</div>